[submodule "bzero-web"]
	path = bzero-web
	url = git@github.com:yuiyeong/bzero-web.git
[submodule "bzero-api"]
	path = bzero-api
	url = git@github.com:yuiyeong/bzero-api.git
[submodule "peregrina-passage"]
	path = peregrina-passage
	url = git@github.com:ghkdgh2365/peregrina-passage.git
